.popup_social-content{
    max-width: 50%;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
}

@media (max-width: 775px) {
    .popup_social-content {
    padding: 10px;
    max-width: 80%;
    }
}