.footer__button {
    font-family: 'InterRegular', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: transparent;
    border: none; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.footer__button span {
    font-size: 16px;
    color: grey;
    background: linear-gradient(90deg, white, grey, white);
    background-size: 200% 100%; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-flow 3s linear infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
