.products__title{
    margin: 0;
    font-size: 24px;
    color: white;
    font-family: 'InterBlack',sans-serif;
    text-transform: uppercase;
}

@media (max-width: 864px) {
    .products__title{
        font-size: 20px;
    }
}