.products__photo {
    margin: 0;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    display: block;
}

@media (max-width: 600px) {
    .products__photo {
        margin: 0 auto;
        width: 90%;
    }
}