.header__tab-text{
    color: white;
    text-transform: uppercase;
    font-family: 'InterThin', sans-serif;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center; /* Центрируем текст */
    display: block; /* Делаем ссылку блочным элементом */
}

@media (max-width: 864px) {
    .header__tab-text{
        font-size: 18px;
    }
}