.popup__resume-avatar{
    width: 200px;
    height: 200px;
}

@media (max-width: 775px) {
    .popup__resume-avatar  {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 600px) {
    .popup__resume-avatar  {
    display: none;
    }
}