.popup__stack-link-container{
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 775px) {
    .popup__stack-link-container{
        margin: 10px 0 0 0;
    }
}

@media (max-width: 460px) {
    .popup__stack-link-container{
        display: block;
    }
}