@import url(./__content/footer__content.css);
@import url(./__logo/footer__logo.css);
@import url(./__quote/footer__quote.css);
@import url(./__quote-text/footer__quote-text.css);
@import url(./__quote-author/footer__quote-author.css);
@import url(./__button/footer__button.css);

.footer{
    margin: 200px 0 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden; 
}

@media (max-width: 1080px) {
    .footer{
        margin: 200px 20px 0;
    }
}

@media (max-width: 600px) {
    .footer{
        display: block;
    }
}