.footer__quote-text{
    margin: 0;
    font-family: 'InterThinItal', sans-serif;
    font-size: 24px;
    color: grey;
}

@media (max-width: 600px) {
    .footer__quote-text {
        font-size: 20px;
    }
}