.popup__stack{
    font-family: 'InterSemiBold', sans-serif;
    color: white;
    margin: 20px 20px 0;
    font-size: 23px;
}

@media (max-width: 775px) {
    .popup__stack  {
        font-size: 16px;
        margin: 25px 20px 0;
    }
}