.popup__resume-education{
    margin: 20px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

@media (max-width: 600px) {
    .popup__resume-education{
        border: none;
    }
}