.products__name{
    color: white;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'InterSemiBold', sans-serif;
}
@media (max-width: 864px) {
    .products__name{
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .products__name {
        margin: 20px 0 0;
    }
}