.popup__git-link{
    cursor: pointer;
    font-family: 'InterSemiBold', sans-serif;
    font-size: 15px;
    margin: 0 20px 0 0;
    padding: 0;
    border: none;
    color: white;
    background-color: transparent;
}

@media (max-width: 775px) {
    .popup__git-link{
        font-size: 10px;
    }
}

@media (max-width: 460px) {
    .popup__git-link{
        margin: 10px 0 0 20px;
    }
}