@import url(./__title/products__title.css);
@import url(./__name/products__name.css);
@import url(./__list/products__list.css);
@import url(./__photo/products__photo.css);
@import url(./__text-block/products_text-block.css);
@import url(./__description/products__description.css);
@import url(./__element/products__element.css);
@import url(./__stack/products__stack.css);
@import url(./__stack-item/products__stack-item.css);
@import url(./__language-circle/products__language-circle.css);
@import url(./__more-info/products__more-info.css);
@import url(./__svg-icon/products__svg-icon.css);

.products{
    margin: 45px 0 0;
    border-bottom: 1px solid white;
}

@media (max-width: 1080px) {
    .products{
        margin: 45px 20px 0;
    }
}