.popup__stack-elements{
    margin: 0 0 0 20px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 460px) {
    .popup__stack-elements{
        margin: 0 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}