.about-me__stack-element{
    margin: 0 10px 0 0;
    font-family: 'InterRegular', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.about-me__stack-element:last-of-type{
    margin: 0;
}

@media (max-width: 864px) {
    .about-me__stack-element{
        font-size: 14px;
    }
}