@import url(./__title/about-me__title.css);
@import url(./__main-info/about-me__main-info.css);
@import url(./__stack-element/about-me__stack-element.css);
@import url(./__name/about-me__name.css);
@import url(./__work/about-me__work.css);
@import url(./__location/about-me__location.css);
@import url(./__stacks/about-me__stacks.css);
@import url(./__stack-elements/about-me__stack-elements.css);
@import url(./__scrolling-button/about-me__scrolling-button.css);
@import url(./__scrolling-text/about-me__scrolling-text.css);
@import url(./__scrolling-wrapper/about-me__scrolling-wrapper.css);

.about-me{
    margin: 20px 0 0 0;
    color: white;
    border-bottom: 1px solid white;
}