@import url(./scroll-button__text/scroll-button__text.css);

.scroll-button {
    position: fixed;
    top: -50px;
    left: 0; /* Фон начинается с левого края экрана */
    width: 100%; /* Фон на всю ширину экрана */
    background-color: #ffffff; /* Фон на всю ширину экрана */
    font-family: 'Gotic', sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.scroll-button.show {
    top: 0px;
    opacity: 1;
}