.header__tab {
    color: white;
    text-transform: uppercase;
    font-family: 'InterThin', sans-serif;
    font-size: 25px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.header__tab:hover {
    transform: scale(1.1);
}

.header__tab:nth-of-type(2) {
    margin: 0 30px 0;
}